.btn-blue {
	background-color: white;
	padding: 12px 17px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	font-family: 'PT Sans Narrow';
	font-size: 20px;
	color: #CEB992;
}

.btn-blue:hover {
	background-color: #CEB992;
	color: #FFFF;
